.site-footer {
  background-color: $white;
  margin-top: 20px;
  padding: 10px;
  text-align: center;

  .footer-social-links {
    text-align: center;

    ul.social-links-list {
      li {
        margin-right: 25px;
        display: inline-block;

        a {
          &.instagram {
            color: #e95950;
          }
          &.facebook {
            color: rgb(66, 103, 178);
          }
          &.twitter {
            color: rgb(56, 161, 243);
          }
          &.linkedin {
            color: rgb(0, 119, 181);
          }
          :hover {
            color: $dark-gray;
          }
        }
      }
    }
  }
}
