.author-social-links {
  ul {
    display: inline-flex;

    li {
      margin: auto 7px;

      a {
        &.instagram {
          color: #e95950;
        }
        &.facebook {
          color: rgb(66, 103, 178);
        }
        &.twitter {
          color: rgb(56, 161, 243);
        }
        &.linkedin {
          color: rgb(0, 119, 181);
        }
      }
    }
  }
}
